<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
</head>

<body>
    <h1>Singup Page</h1>
    <form action="/user/signup" method="post">
        <lable>First Name</lable>
        <input required="true" name="firstName" type="text" placeholder="John">
        <lable>Last Name</lable>
        <input required="true" name="lastName" type="text" placeholder="Doe">
        <lable>Email Address</lable>
        <input required="true" name="email" type="email" placeholder="example@gmail.com">
        <lable>Password</lable>
        <input required="true" name="password" type="password" placeholder="password">
        <button type="submit">Singup</button>
    </form>

</body>

</html>